html,
body {
  min-height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  background-image: url("image/Enlight29.jpg");
  background-size: cover;
  background-color: black;
  color: white;
  font-family: "Righteous", cursive;
  font-size: 1.5em;
  text-align: center;
}

#form-container {
  margin: 5vw auto;
}

h1 {
  font-size: 2vw;
}

h1,
label {
  color: #f23838;
}

#form,
label,
#nickname {
  margin: 2vw auto;
  align-content: center;
  font-size: 2vw;
}

#nickname {
  background-color: black;
  margin: 1vw;
  padding: 0.8vw;
  color: white;
  border: none;
  border-bottom: 0.1vw solid #f23838;
}

#nickname:hover {
  border-bottom: 0.1vw solid #f23838;
  box-shadow: 0 0 0 #f23838;
  animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(242, 56, 56, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(242, 56, 56, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(242, 56, 56, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(242, 56, 56, 0.4);
    box-shadow: 0 0 0 0 rgba(242, 56, 56, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(242, 56, 56, 0);
    box-shadow: 0 0 0 20px rgba(242, 56, 56, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(242, 56, 56, 0);
    box-shadow: 0 0 0 0 rgba(242, 56, 56, 0);
  }
}

#submit {
  background-color: black;
  display: inline-block;
  padding: 0.9vw 1.8vw;
  border: 0.1vw solid #f23838;
  cursor: pointer;
  font-size: 0.8em;
  color: #f23838;
}

#submit:hover,
#submit:focus {
  background-color: #f23838;
  border: solid 0.07em #f23838;
  color: white;
  cursor: pointer;
}

#game-chat-container {
  visibility: hidden;
  display: grid;
  grid-gap: 1.5%;
  grid-auto-columns: 100%;
  grid-template-columns: 30% 40% 17%;
  margin: 0 auto;
}

#chat-container {
  background-color: #0000004d;
  font-family: "Inria Serif", serif;
  font-size: 0.9em;
  color: blanchedalmond;
  border: solid 0.2vw black;
}

#chat-input {
  vertical-align: middle;
  width: 50%;
  background-color: initial;
  margin: 0.7vw auto;
  padding: 0.6vw;
  border: 0.15vw solid black;
  color: blanchedalmond;
}

#chat-button {
  vertical-align: middle;
  width: 5vw;
  background-color: black;
  padding: 0.6vw;
  border: none;
  font-size: 0.7em;
  color: #f23838;
}

#chat-button:hover {
  background-color: #f23838;
  border: 0.1vw solid black;
  color: black;
  cursor: pointer;
}

#game-container {
  height: 7vw;
  display: inline-grid;
  grid-auto-columns: 100%;
  grid-template-columns: auto;
  grid-gap: 4vw;
}

#user-interaction {
  background-color: #000000e2;
  padding: 2vw;
  color: #f23838;
}

#image-container {
  display: inline-grid;
  grid-auto-columns: 100%;
  grid-template-columns: auto;
  margin: auto;
}

.choice-image {
  width: 10vw;
  height: 10vw;
  margin: 0.5vw;
  border-radius: 20%;
  background-color: white;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  border: solid 0.06vw darkgray;
}

.choice-image:hover {
  margin: 0.1vw;
  cursor: pointer;
  padding: 0.4vw;
  box-shadow: 0px 7px 16.5px 7.5px aqua, 0px 1px 0px 0px cornflowerblue;
}

#restart {
  background-color: #f23838;
  display: block;
  margin: auto;
  padding: 1vw;
  border: none;
  text-align: center;
  font-size: 1em;
  color: white;
}

#restart:hover {
  background-color: #f23838;
  box-shadow: inset -4em 0 0 0 rgb(0, 0, 0), inset 4em 0 0 0 rgb(0, 0, 0);
  transition: ease-out 0.7s;
  color: #f23838;
  cursor: pointer;
}

#user-score {
  background-color: #00000080;
  padding: 0.5vw 0;
  border: 0.1vw solid #f23838;
  color: #f23838;
}

#score {
  margin: 1vw;
}

.enemy-user {
  color: #f23838;
}

.my-user {
  color: aquamarine;
}
